<ul class="remote-menu">
  <li>
    <a
      [ngClass]="{ active: activeItem === 0 }"
      (click)="setActiveItem(0)"
      routerLink="/"
      >Parent Angular Shl</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 1 }"
      (click)="setActiveItem(1)"
      routerLink="microfront-angular"
      >Local Mfe Angular</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 2 }"
      (click)="setActiveItem(2)"
      routerLink="http-mfe-react"
      >HTTP Mfe React</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 3 }"
      (click)="setActiveItem(3)"
      routerLink="test"
      >test</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 4 }"
      (click)="setActiveItem(4)"
      routerLink="a14-remote"
      >HTTP Mfe A14</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 5 }"
      (click)="setActiveItem(5)"
      routerLink="react"
      >HTTPS React</a
    >
  </li>
  <li>
    <a
      [ngClass]="{ active: activeItem === 6 }"
      (click)="setActiveItem(6)"
      routerLink="vue"
      >HTTPS Vue</a
    >
  </li>
</ul>

<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
