@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$primary-color: #c8c8c8;
$hover-color: #6c757d;
$active-color: #1760a0;

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

.remote-menu {
  display: flex;
  list-style: none;
  background-color: $primary-color;
  padding: 0;
  width: 100%;

  li {
    flex-grow: 1;

    a {
      display: block;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      color: #212529;
      background-color: $primary-color;
      transition: background-color 0.3s;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;

      &:hover {
        background-color: $hover-color;
        color: #fff;
      }

      &.active {
        background-color: $active-color;
        color: #fff;
      }
    }
  }
}

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-right: 20px;
  }

  img {
    width: 50px;
    height: auto;
    margin: inherit;
  }
}

img {
  width: 50px;
  height: auto;
  margin: auto;
}
